html {
  background-color: var(--couleur-fond);
  color: var(--couleur-police-corps);
}
body {
  font-family: var(--police-corps, sans-serif); /* police de corps par défaut*/
	font-size: var(--taille-police-corps);
  line-height: var(--interlignage-corps, 1.5);
  font-weight: var(--graisse-police-corps);
	text-rendering: optimizeSpeed;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: calc(1.25rem + .75em);
  position: relative;

  color: var(--couleur-police-entetes);
  font-family: var(--police-entetes);
  font-weight: var(--graisse-police-entetes);
  line-height: var(--interlignage-entetes);
  font-style: italic;

}

h1 {
  padding-bottom: .125em;
  margin-bottom: 1.25em;

  border-bottom: 1px solid var(--couleur-soulignement-liens);
  font-size: var(--taille-police-h1);
}
h2 {
  font-size: var(--taille-police-h2);
}
h3 {
  font-size: var(--taille-police-h3);
}
h4 {
  font-size: var(--taille-police-h4);
  font-weight: normal;
}
h5 {
  font-size: var(--taille-police-h5);
}
h6 {
  font-size: var(--taille-police-h6);
  font-style: normal
}

/* Classe CSS pour appliquer les petites capitales */
/* Note: la propriété `font-variant: small-caps;` ne fonctionne correctement
   que si la police embarque les petites capitales dans la table de caractères
   (ce qui est rare). Un fichier de polices supplémentaire est parfois
   proposé, et c'est pourquoi nous gérons cela avec une classe CSS.
 */
.petites-capitales-corps {
  font-family: var(--police-corps-petites-capitales);
  text-transform: none; /* on évitera de tout mettre en majuscules */
}
.petites-capitales-entetes {
  font-family: var(--police-entetes-petites-capitales);
  text-transform: none; /* on évitera de tout mettre en majuscules */
}

.heading-hash {
  display: none;

	opacity: .25;
	text-decoration: none;
  transition: opacity .15s;
  position: absolute;
  right: calc(100% + .75rem);
}
.heading-hash:hover {
  opacity: .6;
  text-decoration: none;
}
@media (min-width: 60rem) {
  .heading-hash {
    display: inline;
  }
}

.posts hr {
	margin-top: 0.35rem;
  margin-bottom: 0;
  height: 1px;
  border: none;
  border-bottom: 1px #121149;
  flex: 1 0 1rem;

  opacity: 0.25;
}

.posts-separator {
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  opacity: 0.5;
  flex: 1 0 5rem; /* taille dynamique, mais minimum 5rem de largeur */
}
.posts-separator::before {
  content: '...........................................................................................................................................................................................................';
}

.contenu-principal {
  max-width: var(--mesure);
  padding: 0 2ch;
  margin: 1rem auto;
}

main {
	max-width: var(--mesure);
	padding: 2ch;
	margin: auto;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--couleur-soulignement-liens); /* bleu HEX avec transparence */
  color: var(--couleur-liens);
}

a:hover, a:focus {
  text-decoration: underline;
  text-decoration-color: var(--couleur-soulignement-liens-survol);
}

::selection {
	background-color: var(--violet-semi-transparent);
	color: inherit;
}
-webkit-::selection {
	background-color: var(--violet-semi-transparent);
	color: inherit;
}

.entete-page {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

.titre-page {
  margin-top: .5rem;
  padding-bottom: 1rem;
  margin-bottom: 1.75rem;

  border-bottom: 1px solid var(--couleur-soulignement-liens);
  font-size: var(--taille-police-h1);
}

.surtitre-page {
  font-family: var(--police-details);
  font-size: 0.875rem;
  letter-spacing: 0.025em;
  color: var(--couleur-surtitre);
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Bloc de métadonnées */
.metadonnees-page {
	margin: 0 0 2.5rem;
  padding: .5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-template-rows: auto;

  /* espacement des éléments enfants (y et x respectivement) */
  gap: .75rem;
  
  font-size: 0.875rem;
  border-radius: .35rem;
  background-color: var(--couleur-fond-secondaire);
}
  .metadonnees-page__etiquette {
    margin: 0;
    display: block;

    font-weight: bold;
  }
  .metadonnees-page__valeur {
    margin: 0;
    display: block;

  }

.suppra {
	margin: 3em 0 0 0;
	text-align: right;
}

.tags::before {
	content: "\2022";
	margin-left: 1rem;
}

code, pre {
	font-family: var(--police-mono);
}

code {
	padding: .11em .35em;
  border-radius: .25rem;
  
  font-size: var(--taille-police-code);
  background-color: var(--couleur-fond-code);
  color: var(--couleur-police-code);
  line-height: 0.9;
  letter-spacing: 0.0125em;
}

pre {
  padding: 0.125rem; /* padding surtout sur l'élément <code> enfant */
  margin: 2rem 0;
	overflow-x: auto;
  line-height: 1.61;

  box-sizing: border-box;

  /* positionnement relatif pour accueillir le pseudo-élément de code */
  position: relative;
  
  background-color: var(--couleur-fond-pre);
  color: var(--couleur-police-pre);
  font-size: var(--taille-police-pre);

  border-radius: .35rem;
  letter-spacing: 0.035em;
}

pre code {
  display: block; /* nécessaire pour le padding */
	padding: 1.75rem 1.5rem;
  
  /* conformer le style de <code> au style de l'élément <pre> */
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.highlight {
  overflow: auto;
  width: 100%;
  border-radius: .35rem;
}

/* highlight linenos=table */
.highlight table pre {
  border-radius: 0;
  margin: 0;
  padding: .75rem .25rem .75rem 1rem;
}
.highlight table pre code {
  padding: 0.5rem 0;
}

img {
	max-width: 100%;
}

figure {
  margin-inline: auto;
  margin-block: 1.5rem;

  /* centrer horizontalement le contenu */
  display: flex;
  flex-direction: column;
  /* centrer la légende et l'image (si plus étroite) */
  align-items: center;
  /* espacement entre l'image et la légende */
  gap: .5rem;

}

figcaption {
  /* distance minimale avec l'image de la figure */
  /* EDIT: géré avec la propriété flex du parent (figure) */
  /* margin-block-start: .25rem; */

  font-style: italic;
  font-size: var(--taille-police-legende);
  text-align: center;
}
/* annuler les marges sur les paragraphes dans les légendes */
figcaption p {
  margin: 0;
}

hr {
	background-color: var(--couleur-soulignement-liens);
  height: 1px;
  margin: 3rem auto;
  border: 0;
}

ul {
	list-style-type: square;
}

ul, ol {
	padding-left: 1.2rem;
}

details {
  margin-block: 1.5rem;

  font-size: var(--taille-police-encadre);
  font-family: var(--police-encadre);
  border: 1px solid rgba(50, 50, 50, 0.25);
  border-radius: .35rem;;
}

summary {
  cursor: default;
  font-weight: bold;
  padding: 1rem;
}

details >:not(summary) {
  margin-inline: .75rem;
}

.entete-principal {
  --entete-princiapl-espacement-x: calc(1rem + 1vw);
  
  padding: 2.5rem var(--entete-princiapl-espacement-x);

  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

.titre-principal {
  font-size: var(--taille-police-h5);
  line-height: var(--interlignage-entetes);
  color: var(--couleur-entetes);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.05em;
}
.titre-principal a {
  text-decoration-color: var(--couleur-soulignement-liens);
  text-decoration-style: wavy;
  text-decoration-line: underline;
  color: inherit;
}
.titre-principal a:hover,
.titre-principal a[aria-current="page"] {
  text-decoration-color: var(--couleur-soulignement-liens-survol);
}

.nav-principale ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: .25rem 1rem;
}

.nav-principale a {
  padding: .75rem .25rem;
  display: inline-flex;
  flex-direction: row;
  
  font-size: 1.125rem;
  text-decoration: underline transparent;
  color: inherit;
  font-style: italic;
  letter-spacing: 0.035em;
  
  text-decoration-color: var(--couleur-soulignement-liens);
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

.nav-principale a:hover {
  opacity: 0.67;
}

.nav-principale a[aria-current="page"] {
  text-decoration-color: var(--couleur-soulignement-liens-survol);
}

.pied-de-page-principal {
  font-size: 1rem; /* 16px */
  text-align: center;
  margin-top: 3rem;
}

blockquote {
  padding-inline: 2rem; /* espacement horizontal */
  margin-inline-start: .5rem;

  border-inline-start: 1px solid var(--couleur-soulignement-liens);
  font-size: var(--taille-police-citation);
  color: var(--couleur-police-citation);
}
blockquote p:first-child {
  margin-block-start: 0;
}
blockquote p:last-child {
  margin-block-end: 0;
}

.posts ul,header ul, footer ul {
	list-style:none;
}

.posts, header ul, footer ul {
	padding: 0;
}

header ul {
  display: flex;
	align-items: baseline;
	justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.posts li a, .posts li div {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table tr {
    background: white;
    border-bottom: 1px solid
}
table th, table td {
    padding: 10px 20px;
}

iframe {
	width: 100%;
	height: 430px; /* présentations avec ratio 16:9 */
  display: block; /* pour assurer un bon dimensionnement */
}

audio {
	width: 100%;
}

.hugo-cite-intext {
  display: inline-block;
  vertical-align: baseline; /*compensate for lower height */
  position: relative;
  font-size: .85em; /* reduce to avoid some breaks */
}
.hugo-cite-intext
  .hugo-cite-citation {
    visibility: hidden;
    background-color: #ffffff;
    color: inherit;
    border: 1px solid currentColor;
    padding: 1rem;
    position: absolute;
    width: 350px;
    max-width: 100vw;
    z-index: 1;
    bottom: 140%;
    left: 0;
    margin-left: -50px;

    z-index: 2;
    transition:
    visibility 0s .3s,
    transform .3s ease 0s,
    opacity .3s ease 0s;
    opacity: 0;
    transform: translateY(-8px);
}
.hugo-cite-intext:hover
  .hugo-cite-citation {
    visibility: visible;
    transition: visibility 0s 0s, transform .3s, opacity .3s;
    opacity: 1;
    transform: translateY(0);
}

/* Visually Hidden utility class */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.cache {
  display: none;
}

section.posts {
  margin: 3rem auto;
}

.posts article {
  margin: 3rem auto;
}

.posts-title {
  font-size: var(--taille-police-h4);
  margin: 0 0 .5rem;
	display: flex;
  flex-wrap: wrap; /* permet une disposition automatique plus harmonieuse */
	align-items: baseline;
	justify-content: space-between;
  gap: .125rem;

  font-family: var(--police-corps);
  font-style: italic;
  font-weight: normal;
}

.posts-title a {
  text-decoration: underline;
  text-decoration-color: transparent;
  line-height: var(--interlignage-entetes);
  font-family: var(--police-entetes);
}
.posts-title a:hover {
  opacity: 0.67;
  // text-decoration-color: var(--couleur-soulignement-liens);
}

.posts-surtitle {
  margin: 0 0 .25rem;

  font-family: var(--police-mono);
  text-transform: uppercase;
  font-size: .8125rem; /* 13px */
  line-height: 1;
  letter-spacing: .05em;
  font-weight: bolder;
  display: inline-flex;

  color: var(--couleur-surtitre);
}

.posts time {
	white-space: nowrap;
	font-variant-numeric: tabular-nums;

  font-size: 1rem;
}

.posts-description {
  font-size: 1rem; /* 16px */
  margin: .25rem 0 .25rem calc(2vw + .5rem);
  display: flow;
}

.posts-meta {
  font-size: 0.9375rem; /* 15px */
  margin: .25rem 0 .25rem calc(2vw + .5rem);
}

.alert {
  margin: 1rem 0;
  padding: .75rem;
  background-color: darkorange;
  color: #fff;
}

.is-cancelled {
  opacity: .67;
  padding: .25rem;
  background-color: lightgoldenrodyellow;
}

.debugue {
  font-style: normal; /* annuler italiques (ex. <cite>) pour cette classe */
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
a.debugue:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--couleur-soulignement-liens-survol);
}

.posts-section-content {
  font-size: 1rem; /* 16px */
}

.note {
  margin-block: 1.5rem;
  padding: .75rem;

  border-radius: .35rem;
  border: 1px solid var(--couleur-bordure-encadre);
  background-color: var(--couleur-fond-encadre);

  font-size: var(--taille-police-encadre);
  font-family: var(--police-encadre);
}
.note > :first-child {
  margin-block-start: 0;
}
.note > :last-child {
  margin-block-end: 0;
}
.note::before {
  content: 'Note';
  display: block;
  margin-block-end: .5rem;
  color: currentColor;
  opacity: .5;
}