:root {
  --r-background-color: var(--couleur-fond);
  --r-main-font: var(--police-corps);
  --r-main-font-size: 21px;
  --r-main-color: var(--couleur-police-corps);
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: var(--police-entetes);
  --r-heading-color: var(--couleur-police-entetes);
  --r-heading-line-height: var(--interlignage-entetes);
  --r-heading-letter-spacing: 0;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: var(--graisse-police-entetes);
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.91em;
  --r-heading3-size: 1.42em;
  --r-heading4-size: 1.15em;
  --r-code-font: var(--police-mono);
  --r-link-color: var(--couleur-liens);
  --r-link-color-dark: var(--couleur-liens);
  --r-link-color-hover: var(--couleur-liens);
  --r-selection-background-color: var(--violet-semi-transparent);
  --r-selection-color: inherit;
}