{{- define "header-page" }}

{{- if eq .Type "posts" }}
<header class="entete-page">
  <div class="surtitre-page">
    {{- .Page.CurrentSection.Title -}}
  </div>
  
  <h1 class="titre-page" itemprop="name headline">
    {{- .Title -}}
  </h1>
  
  <dl class="metadonnees-page">

    {{- if .Params.formatrices }}
    <div class="metadonnees-page__item">
      <dt class="metadonnees-page__etiquette">Formateur·trice·s :</dt>
      <dd class="metadonnees-page__valeur formatrices">
        {{ delimit .Params.formatrices ", " }}
      </dd>
    </div>
    {{- end }}{{/* end */}}

    {{- if .Params.lieu }}
    <div class="metadonnees-page__item">
      <dt class="metadonnees-page__etiquette">Lieu :</dt>
      <dd class="metadonnees-page__valeur lieu">
        {{ .Params.lieu }}
      </dd>
    </div>
    {{- end }}{{/* end */}}

    {{- if .Date }}
    <div class="metadonnees-page__item">
      <dt class="metadonnees-page__etiquette">Date et heure :</dt>
      <dd class="metadonnees-page__valeur date">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
        {{- if .Params.heure_p }}
        ({{ .Params.heure_p }})
        {{ end -}}
      </dd>
    </div>
    {{- end }}{{/* end */}}

    {{- if not (eq .Params.lien false) }}
    <div class="metadonnees-page__item">
      <dt class="metadonnees-page__etiquette">Lien de la visioconférence :</dt>
      <dd class="metadonnees-page__valeur lien">
        {{- if .Params.lien }}
          <a href="{{ .Params.lien }}" rel="external">{{ .Params.lien }}</a> 
        {{- else }}
        <em>à venir</em>
        {{ end -}}
      </dd>
    </div>
    {{- end }}{{/* end */}}

    {{- if not (eq .Params.impression false) }}
    <div class="metadonnees-page__item">
      <dt class="metadonnees-page__etiquette">Impression <em>(bêta)</em> :</dt>
      <dd class="metadonnees-page__valeur print">
        <a href="impression.html" rel="print">Version imprimable</a>
      </dd>
    </div>
    {{- end }}{{/* end */}}
  </dl>
</header>
    
{{- end -}}{{/* if */}}
{{- end }}{{/* define */}}

{{- define "content" }}

<!-- Diapositives -->
{{- $diapo := dict "entete" "Support de présentation (<a href=\"presentation.html\" target=\"_blank\">cliquez pour ouvrir en grand &nearr;</a>)" "content" "<iframe src=\"presentation.html\" allowfullscreen=\"allowfullscreen\" allow=\"geolocation *; microphone *; camera *; midi *; encrypted-media *\" frameborder=\"0\"></iframe>" "ouvert" (.Params.diapositives_ouvertes | default true) }}
{{- partial "accordeon" $diapo -}}

<!-- TOC -->
<h3>Sommaire</h3>
{{- .TableOfContents }}

{{ if .Params.enregistrement }}
<section>
  <p>Enregistrement de la séance :</p>
  <iframe src="{{ .Params.enregistrement }}" class="enregistrement" width="560" height="315"></iframe>
  {{ if .Params.message }}<p><em>{{ .Params.message }}</em></p>{{ end }}
</section>
{{- end }}{{/* if */}}

{{- partial "content.html" .Content -}}

{{ end }}{{/* define */}}
