<!doctype html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
<body>

  {{- partial "header.html" . }}
  
  <article class="contenu-principal">
    <header class="entete-page">
      <h1 class="titre-page" itemprop="name headline">
        {{- .Title -}}
      </h1>
    </header>

    {{- if .Params.toc }}
    <h3>Sommaire</h3>
    {{- .TableOfContents }}
    {{- end }}
    {{- partial "content.html" .Content -}}
    
    {{- partial "footer.html" . }}
  </article>

</body>
</html>
