<!doctype html>
<html lang="{{ .Lang }}">
	<head>
        <script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ .Title }} – {{.Site.Title}}</title>

		{{- $styles := resources.Get "v2/styles/styles.scss" | toCSS (dict "outputStyle" "compact") | minify }}
		<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
	
		<link rel="stylesheet" href="{{ "v2/reveal.js/dist/reset.css" | absURL }}">
		<link rel="stylesheet" href="{{ "v2/reveal.js/dist/reveal.css" | absURL }}">
		<link rel="stylesheet" href="{{ "v2/reveal.js/dist/theme/simple.css" | absURL }}">
		{{- $presentationCSS := resources.Get "v2/styles/presentation.scss" | toCSS (dict "outputStyle" "compact") }}
		<link rel="stylesheet" href="{{ $presentationCSS.Permalink }}">
		<!-- <link rel="stylesheet" href="{{ "v2/css/theme/crcen.css" | absURL }}"> -->

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/css/print/pdf.css' : '/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

				<!-- Diapositive de titre -->
				<section class="diapo-titre">

					<header class="diapo-titre__entete">

						<div class="diapo-titre__titre-principal petites-capitales-entetes">
							{{- .Site.Params.titrecourt -}}
						</div>
						
						<div class="surtitre-page">
							{{- with .Params.saison }}
							<span class="diapo-titre__saison">Saison {{ . }}</span>
						{{ end -}}

						<span role="separator">&mdash;</span>
						
						{{- if .Params.seance }}
						<span class="diapo-titre__seance">
							Séance {{ .Params.seance -}}
						</span>
						{{ end -}}
					</div>
				</header>

					<h1 class="diapo-titre__titre titre-page">
						{{- .Title -}}
					</h1>

					
					<p class="diapo-titre__description">
						{{- .Params.description -}}
					</p>
					
					<div class="diapo-titre__details">
						<p>
							{{.Site.Author.name}} — {{.Site.Author.courriel}}
						</p>
					</div>

				</section>

				{{ .Content }}
			</div>
		</div>

		<!-- Scripts reveal.js -->
		<script src="{{ "v2/reveal.js/dist/reveal.js" | absURL }}"></script>
		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				// config
				history: true,
				center: false,
				controlsTutorial: false,

				// taille (ratio) -- ici, 1080 x 607 donne un ratio 16:9
				// be preserved when the presentation is scaled to fit different
				// resolutions. Can be specified using percentage units.
				width: 960,
				height: 539,

				// Factor of the display size that should remain empty around
				// the content
				margin: 0.08,

				// Bounds for smallest/largest possible scale to apply to content
				minScale: 0.2,
				maxScale: 2.0,

				dependencies: [
					{ src: '{{ "v2/reveal.js/plugin/notes/notes.js" | absURL }}', async: true }
				]
			});
		</script>
	</body>
</html>
