@font-face {
  font-family: 'IBMPlexMono';
  src: url('/v2/fonts/ibm-plex-mono/IBMPlexMono-Text.woff2') format('woff2'),
       url('/v2/fonts/ibm-plex-mono/IBMPlexMono-Text.woff') format('woff'),
       url('/v2/fonts/ibm-plex-mono/IBMPlexMono-Text.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
font-family: 'IBMPlexMono';
src: url('/v2/fonts/ibm-plex-mono/IBMPlexMono-TextItalic.woff2') format('woff2');
font-weight: 400;
font-display: swap;
font-style: italic;
}

@font-face {
font-family: 'IBMPlexMono';
src: url('/v2/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
font-family: 'IBMPlexMono';
src: url('/v2/fonts/ibm-plex-mono/IBMPlexMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}