@font-face {
  font-family: 'Latin Modern Mono';
  src: url('/v2/fonts/latin-modern-mono/lmmono10-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Mono';
  src: url('/v2/fonts/latin-modern-mono/lmmono10-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

