{{- $accueil := .Site.GetPage "/" }}

<header class="entete-principal">
  <div class="titre-principal petites-capitales-entetes">
    <a href="{{ $accueil.Permalink }}"
       {{if .IsHome}}aria-current="page"{{end}}
    >
      {{- .Site.Params.titrecourt | default .Site.Title -}}
    </a>
  </div>

  <nav class="nav-principale">
    {{- $current := . }}
    <ul>
      {{- range .Site.Menus.main }}
      <li>
        {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
        {{- $active = or $active (eq .Name $current.Title) }}
        <a href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>
          {{- .Name -}}
        </a>
      </li>
      {{ end -}}
    </ul>
  </nav>
</header>