{{/*
  Bloc d'une séance individuelle (pour affichage sur les pages de liste, par exemple)
*/ -}}
<article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting" class="{{if .cancelled}}is-cancelled{{end}}">
  <div class="posts-surtitle">
    {{- if .cancelled }}
    <s>Séance {{ .seance -}}</s>&nbsp;Annulée
    {{- else }}
    Séance {{ .seance -}}
    {{ end -}}
  </div>
  <h2 class="posts-title">

    {{- if .visible }}<a href="{{ .url }}" title="{{ .title }}" itemprop="name url">
      {{- .title }}</a>
    {{- else }}
      {{- .title }}
    {{ end -}}
    
    <div class="posts-separator"></div>
    
    <time datetime="{{ dateFormat "2006-01-02" .date_p }}">{{ dateFormat "2006-01-02" .date_p }}</time>
  </h2>
  
  <div class="posts-description">
    {{ .description }}
  </div>
</article>